<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://piuttec.uttecamac.edu.mx/Content/Images/logo_pleca.png" class="d-block w-25 p-3" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://uttecamac.edomex.gob.mx/sites/uttecamac.edomex.gob.mx/files/images/mis%20imagenes/Aspirantes/2_4%20pre-registro.gif" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://uttecamac.edomex.gob.mx/sites/uttecamac.edomex.gob.mx/files/images/mis%20imagenes/Aspirantes/2_2%20Modelo%20Educativo.gif" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container-fluid mt-5 mb-5">
  <div class="row mb-3">
    <div class="col-md-4 offset-md-2">Estructura de descripción UTTEC</div>
    <div class="col-md-4">
      <img class="img-fluid" src="https://uttecamac.edomex.gob.mx/sites/uttecamac.edomex.gob.mx/files/images/mis%20imagenes/Aspirantes/2_5%20Cambio%20de%20Universidad%20Tecnol%C2%BEgica.gif" alt="" srcset="">
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-4 offset-md-2">
      <img class="img-fluid" src="https://uttecamac.edomex.gob.mx/sites/uttecamac.edomex.gob.mx/files/images/mis%20imagenes/Aspirantes/2_3%20Oferta%20educativa%201.gif" alt="" srcset="">
    </div>
    <div class="col-md-4">Estructura de descripción UTTEC</div>
  </div>
  <div class="row mb-3">
    <div class="col-md-4 offset-md-2">Estructura de descripción UTTEC</div>
    <div class="col-md-4">
      <img class="img-fluid" src="https://uttecamac.edomex.gob.mx/sites/uttecamac.edomex.gob.mx/files/images/mis%20imagenes/Aspirantes/3_5_1%20Laboratorios%20y%20talleres%202.gif" alt="" srcset="">
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-4 offset-md-2">
      <img class="img-fluid" src="https://uttecamac.edomex.gob.mx/sites/uttecamac.edomex.gob.mx/files/images/mis%20imagenes/Aspirantes/2_8%20Curso%20propedeutico.gif" alt="" srcset="">
    </div>
    <div class="col-md-4">Estructura de descripción UTTEC</div>
  </div>
</div>