<div class="container-fluid mb-5 mt-2">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1>Lista de documentos</h1>
    </div>
    <div class="col-md-6 offset-md-3">
      <a mat-flat-button color="success" routerLink="create" matRippleRadius="color">Agregar</a>
    </div>

    <app-form-product-filter (ngProductDataFilter)="onSubmit($event)"></app-form-product-filter>
    <div class="col-md-6 offset-md-3 mt-4">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
        <!-- Id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
          <td mat-cell *matCellDef="let i = index"> {{i + 1}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
          <td mat-cell *matCellDef="let productD"> {{productD.name}} </td>
        </ng-container>

        <!-- speciality Column -->
        <ng-container matColumnDef="speciality">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
          <td mat-cell *matCellDef="let productD"> {{productD.description}} </td>
        </ng-container>

        <!-- price Column -->
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> peso KB</th>
          <td mat-cell *matCellDef="let productD"> {{productD.price}} </td>
        </ng-container>
        <!-- userCreatedAt Column -->
        <ng-container matColumnDef="urlImage">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> url</th>
          <td mat-cell *matCellDef="let productD"> <button mat-menu-item  onClick='(productD.urlImage)'>{{productD.urlImage}}</button></td>
        </ng-container>
        <!-- status Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
          <td mat-cell *matCellDef="let productD">
            <mat-chip-list aria-label="Fish selection">
              <mat-chip *ngIf="productD.status === 4" color="success" selected>Activo</mat-chip>
              <mat-chip *ngIf="productD.status === 5" color="warn" selected>Inactivo</mat-chip>
            </mat-chip-list>
          </td>
        </ng-container>
        <!-- type Column -->
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </th>
          <td mat-cell *matCellDef="let productD">
            {{productD.typeProduct}}
          </td>
        </ng-container>
        <!-- acciones Column -->
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
          <td mat-cell *matCellDef="let productD">
            <a mat-icon-button color="primary" aria-label="Editar producto" href="#"
              [routerLink]="'update/' + productD.id">
              <mat-icon>edit</mat-icon>
            </a>
            <button mat-icon-button color="warn" aria-label="Eliminar producto" (click)="delete(productD)">
              <mat-icon>delete_forever</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10]" showFisrtLastButtons aria-label="Select page of products">
      </mat-paginator>
      <ng-template #noDataMsg>
        <div class="alert alert-warning" role="alert">
          <button mat-icon-button color="warn">
            <mat-icon>error</mat-icon>
          </button>No hay datos disponibles
        </div>
      </ng-template>
    </div>
  </div>
</div>