.mat-success {
    color: white;
    background-color: #43A047;
  }
  
  .mat-food {
    color:black;
    background-color: #FFCE1A;
  }
  .mat-alcohol{
    color:black;
    background-color: #FDF608;
  }
  .mat-drink {
    color:black;
    background-color: #1ad1ff;
  }
  
  .mat-coctel {
    color:black;
    background-color: #1affc6;
  }
  
  .mat-certified {
    color:white;
    background-color: #1a63ff;
  }