<div class="col-md-6 offset-md-3 mt-4">
    <mat-list>
        <mat-divider></mat-divider>
        <mat-list-item>
            <h2>Busqueda por filtros</h2>
        </mat-list-item>
        <mat-divider></mat-divider>
    </mat-list>
</div>

<div class="col-md-6 offset-md-3" *ngIf="menuFormFilter">
    <form [formGroup]="menuFormFilter" (ngSubmit)="onSubmit()" class="example-form">
        <mat-form-field appearance="standard" floatLabel="always">
            <mat-label>Código de menú</mat-label>
            <input matInput placeholder="Ej. 000" formControlName="code">
        </mat-form-field>
        <mat-form-field appearance="standard">
            <mat-label>Estado de menú</mat-label>
            <mat-select formControlName="status" for="status" id="status" name="status" formControlName="status">
                <mat-option>Ninguno</mat-option>
                <mat-option value="4">Activo</mat-option>
                <mat-option value="5">Inactivo</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="standard">
            <mat-label>Tipo de menú</mat-label>
            <mat-select formControlName="typeMenu" for="typeMenu" id="typeMenu" name="typeMenu" formControlName="typeMenu">
                    <mat-option>Ninguno</mat-option>
                    <mat-option matInput value="1">Comida</mat-option>
                    <mat-option matInput value="2">Bebida</mat-option>
                    <mat-option matInput value="3">Postre</mat-option>  
            </mat-select>
        </mat-form-field>
        <button mat-flat-button type="submit" color="certified">Buscar</button>
    </form>
</div>