<footer>
  <mat-grid-list cols="3" rowHeight="150px" [style.background]="'#3f51b5'" [style.color]="'#fff'" [style.padding]="'15px'" class="mt-5">
    <mat-grid-tile>
      <a href="https://uttecamac.edomex.gob.mx/" title="UTTEC | Universidad Tecnologica de Técamac" target="_blank" class="text-white" style="text-decoration: none;">
        Powered By &nbsp;<img src="https://piuttec.uttecamac.edu.mx/Content/Images/Logo%20UTTEC_redime.png" style="height: 30px;">
      </a>
    </mat-grid-tile>
    <mat-grid-tile>
      Todos los derechos reservados &copy; UTTEC
    </mat-grid-tile>
    <mat-grid-tile>
      <div>
        <span class="text-white">Enlaces</span>
        <ul >
          <li><a class="text-white" href="https://uttecamac.edomex.gob.mx/contactanos">Contacto</a></li>
          <li><a class="text-white" href="https://uttecamac.edomex.gob.mx/sitemap">Mapa de sitio</a></li>
          <li><a class="text-white" href="https://uttecamac.edomex.gob.mx/legales">Terminos y condiciones</a></li>
          <li><a class="text-white" href="">Aviso de privasidad (Pendiente a agregar liga)</a></li>
          <li><a class="text-white" href="https://uttecamac.edomex.gob.mx/">Sitio oficial UTTEC</a></li>
        </ul>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</footer>
