<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>UTTEC_CONTROL</span>
  <span class="spacer-nav"></span>

  <a href="#" mat-button routerLink="/business" aria-label="Example icon-button with share icon">
    <mat-icon>chrome_reader_mode</mat-icon> Landing Page UTTEC
 </a>
  <a href="#" routerLink="sign-in" mat-button aria-label="Example icon-button with heart icon">
     <mat-icon>account_circle</mat-icon> Inicios de sesión
  </a>
  <a href="#" mat-button routerLink="/sign-up" aria-label="Example icon-button with share icon">
     <mat-icon>group_add</mat-icon> Registrate
  </a>

</mat-toolbar>